@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p>My Games is a web application that allows users to add, change and find their favorite games.</p>
<p>Welcome to our community!</p>
